<footer class="bg-black text-white py-4 flex justify-between items-center">
  <!-- Left Section -->
  <div class="flex items-center space-x-2 mx-5">
    <div
      class="rounded-full bg-white text-black w-6 h-6 flex items-center justify-center"
    >
      <span class="font-bold text-sm">S</span>
    </div>
    <span class="text-white font-semibold">Shubham Sharma</span>
  </div>

  <!-- Right Section -->
  <div class="text-right text-sm mx-5">
    <div>© 1998–Present Shubham Sharma</div>
    <div>All Rights are Reserved.</div>
  </div>
</footer>
