.typing-text {
  font-family: monospace;
  overflow: hidden; /* Hides the text beyond the set width */
  white-space: nowrap; /* Prevents text wrapping */
  width: 0;
  animation: typing 3s steps(30, end) forwards,
    blink-caret 0.5s step-end infinite;
  border-right: 2px solid black; /* Creates the typing cursor */
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}
