<div
  class="flex flex-col md:flex-row justify-center items-center py-12 space-y-8 md:space-y-0 md:space-x-12 mx-5"
>
  <!-- Contact Form Section -->

  <div
    [formGroup]="contactForm"
    class="flex flex-col space-y-4 w-full md:w-1/2"
  >
    <input
      formControlName="name"
      type="text"
      placeholder="Your name"
      class="border border-gray-400 p-3 rounded-lg focus:outline-none focus:border-indigo-400"
    />
    <input
      formControlName="email"
      type="email"
      placeholder="Email"
      class="border border-gray-400 p-3 rounded-lg focus:outline-none focus:border-indigo-400"
    />
    <input
      formControlName="website"
      type="text"
      placeholder="Your website (if exists)"
      class="border border-gray-400 p-3 rounded-lg focus:outline-none focus:border-indigo-400"
    />
    <textarea
      formControlName="message"
      placeholder="How can I help?*"
      class="border border-gray-400 p-3 rounded-lg focus:outline-none focus:border-indigo-400 h-32"
    ></textarea>

    <button
      class="bg-black text-white p-3 rounded-lg font-bold hover:bg-gray-800 transition duration-300"
      (click)="sendQueryByEmail()"
      [disabled]="contactForm.invalid"
      *ngIf="!loader"
    >
      Get In Touch
    </button>
    <div class="flex items-center justify-center">
      <mat-spinner
        class="text-center"
        [diameter]="30"
        color="primary"
        *ngIf="loader"
      ></mat-spinner>
    </div>
  </div>

  <!-- Contact Info Section -->
  <div class="w-full md:w-1/2 text-center md:text-left">
    <h2 class="text-4xl font-bold">
      Let’s <span class="font-bold">talk</span> for <br />
      Something special
    </h2>
    <p class="text-gray-500 mt-4">
      I seek to push the limits of creativity to create high-engaging,
      user-friendly, and memorable interactive experiences.
    </p>
    <a
      class="mt-8 font-semibold typing-text"
      href="mailto: shubh9911am@gmail.com"
      >Connect via Email</a
    >
    <p class="font-semibold">9911518952</p>
  </div>
</div>
