<div class="bg-white text-black p-8 mx-auto mt-20">
  <div class="flex flex-col md:flex-row items-center justify-between">
    <div class="md:w-1/2">
      <h1 class="text-4xl font-bold mb-2">Hello I'm Shubham Sharma.</h1>
      <h2 class="text-3xl mb-2">
        <span class="font-thin">Frontend </span
        ><span class="font-bold">Developer</span>
      </h2>
      <h3 class="text-2xl mb-4">
        Based In <span class="font-bold">India.</span>
      </h3>
      <p class="text-gray-600 mb-6">
        I'm a frontend developer with 4 years of expertise in building
        high-impact web applications. Specializing in Angular and React.js, I've
        helped companies like Faclon Labs and Tagbin create intuitive,
        performant user interfaces that deliver exceptional user experiences.
        From developing interactive museum exhibits to building enterprise-level
        dashboards, I transform complex requirements into elegant solutions.
      </p>
      <div class="flex space-x-4">
        <a
          href="https://github.com/shubham9911/shubham9911"
          target="_blank"
          class="border border-black p-2 rounded"
        >
          <img src="/assets/Img/git.svg" alt="" />
        </a>
        <a
          href="https://www.linkedin.com/in/shubham-sharma-4b667a169/"
          target="_blank"
          class="border border-black p-2 rounded"
        >
          <img src="/assets/Img/linkedin.svg" alt="" />
        </a>
        <a
          href="mailto: shubh9911am@gmail.com"
          class="border border-black p-2 rounded"
        >
          <img src="/assets/Img/gmail.svg" alt="" />
        </a>
      </div>
    </div>
    <div class="mt-8 md:mt-0">
      <img
        src="/assets/Img/introImg.png"
        alt="Developer Illustration"
        class="w-full"
      />
    </div>
  </div>
</div>
